
@{
    Layout = null;
}


<!DOCTYPE HTML>
<html>
<head>
    <title>Plan A Trip</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/web/js/jquery.min.js"></script>
    <script src="~/web/js/responsiveslides.min.js"></script>

    <script>
        $(function () {
            $("#slider1").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
            });
        });
    </script>
</head>
<body>
    <div class="header">
        <div class="wrap">
            <div class="logo"><a href="/Home/Index"><img src="~/web/images/Capture.PNG" alt="" /></a></div>
            <div class="con-right">
                <div class="grid1-l-img">
                    <img src="~/web/images/contact.png" alt="">
                </div>
                <div class="grid1-l-desc">
                    <p>Contact : 0539 899 5545</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="wrap">
            <ul id="nav">
                <li><a href="/Home/Index">Home</a></li>
                <li><a class="hsubs" href="/Cities/Index">Cities</a></li>
                <li><a class="hsubs" href="/Blogs/Index">Blogs</a></li>
                <li><a class="hsubs" href="/About/Index">About</a></li>
                <li><a href="/Contact/Index/l">Contact</a></li>
                <li><a href="/SignUp/Login2">Login</a></li>
            </ul>
        </div>
    </div>
    <div class"content">
        @RenderBody()
    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
                <p>&copy; 2020 Easy-Trip. All Rights Reserved | Design by <a href="https://www.bedirhanerkilic.com/">Bedirhan Erkılıç</a></p>
            </div>
        </div>
    </div>
</body>
</html>
