@using Plan_A_Trip.Models.Classes
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<!DOCTYPE HTML>
<html>
<body>
    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot" style="margin-right:15px">Photos from Turkey</h2>
                    <div class="banner-left">
                        <div class="con-text">
                            <div class="grid1-desc">
                                <a href="https://localhost:44369/Cities/CityDetails/53"><p>İstanbul</p></a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-desc">
                                <a href="https://localhost:44369/Cities/CityDetails/83"><p>Antalya</p></a>
                            </div>
                            <div class="clear"></div>
                        </div> <div class="con-text">
                            <div class="grid1-desc">
                                <a href="https://localhost:44369/Cities/CityDetails/52"><p>İzmir</p></a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-desc">
                                <a href="https://localhost:44369/Cities/CityDetails/50"><p>Nevşehir</p></a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-desc">
                                <a href="https://localhost:44369/Cities/CityDetails/90"><p>Muğla</p></a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-desc">
                                <a href="https://localhost:44369/Cities/CityDetails/68"><p>Edirne</p></a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-desc">
                                <a href="https://localhost:44369/Cities/CityDetails/82"><p>Artvin</p></a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_bottom_right_images">
                        <div class="slider" style="width:650px;height:370px">
                            <ul class="rslides" id="slider1">
                                @foreach (var x in Model)
                                {
                                    <li><img src="@x.BlogImage" alt=""></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <h3>Welcome to Plan A Trip!</h3>
                    <p>If we will briefly explain what you can do on our site. Turkey does not know the purpose of our site, who do not want to serve for convenience, but where to go. sightseeing places to find all the cities in Turkey, activities to do, places to stay and finally car rental is available. In the blogs section of our site, there may be people who have gone to the places you want to go and wrote about that place. You can get information by reading the information about the place you want to go, and you can write articles about the places you go as a member.I hope our site works for you.</p>
                </div>
                @Html.Action("Partial1", "Home")
                <div class="grids">
                    <div class="box1">
                        @Html.Action("Partial3", "Home")
                        @Html.Action("Partial4", "Home")
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

