@using Plan_A_Trip.Models.Classes
@model List<Blog>
<div class="padding1">
    <h4>Our Best Places</h4>
    <div class="box-left">
        @foreach (var x in Model)
        {
            <div class="bot-img">
                <img src="@x.BlogImage" alt="" style="width:120px; height:65px;" />
            </div>
            <div class="bot-desc">
                <p>@x.Explanation.Substring(0, 75)...</p>
            </div>
            <div class="clear"></div>
        }
    </div>
    @Html.Action("Partial5","Home")
</div>