@using Plan_A_Trip.Models.Classes
@model List<Blog>
<div class="padding">
    <h4>Latest 10 Blog</h4>
    @{ int i = 0;}
    @foreach (var x in Model)
    {
        <ul class="list list-pad">
            <li class="list-bg"><span>@{i++;} @i.</span><a href="/Blogs/BlogDetails/@x.Id">@x.Title</a></li>
        </ul>
    }
    <a href="/Blogs/Index" class="link1">See all blogs</a>
</div>
