@using Plan_A_Trip.Models.Classes
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<br />
<br />
<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>About</h3>
            <br />
            <br />
            @foreach (var x in Model)
            {
                <img src="@x.PictureUrl" alt="" style="width:1050px;height:500px" />
                <br />
                <br />
                <p>@x.Explanation</p>
            }
        </div>
    </div>
</div>    