<div class="content-form">
    <h3>Leave a comment</h3>
    <form method="post">
        <input type="hidden" placeholder="Id" name="BlogId" value="@ViewBag.values" required />
        <input type="text" placeholder="Name" name="UserName" required />
        <input type="text" placeholder="Email" name="Email" required />
        <textarea placeholder="Message" name="Comments"></textarea>
        <input type="submit" value="SEND" />
    </form>
</div>
